---
import Header from "../components/Header.astro";
import LegalChapter from "../components/LegalChapter.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bellezza di Em - Mentions légales">
  <main class="container mx-auto text-[#6E6048] p-3">
    <div class="my-6">
      <Header />
    </div>
    <section class="leading-relaxed text-justify">
      <h1 class="text-2xl">Mentions légales</h1>
      <p>
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour
        la confiance en l'économie numérique, il est précisé aux utilisateurs du
        site Bellezza di Em l'identité des différents intervenants dans le cadre
        de sa réalisation et de son suivi.
      </p>
      <div class="flex-col space-y-4 mt-4">
        <LegalChapter title="Édition du site">
          <p>
            Le présent site, accessible à l’URL www.bellezzadiem.fr (le « Site
            »), est édité par : Emilie BOUHA, résidant 14 place des colonnes
            Hubert Renaud 95800 Cergy, de nationalité Française (France), née le
            21/05/1998.
          </p>
        </LegalChapter>
        <LegalChapter title="Hébergement">
          <p>
            Le Site est hébergé par la société Netlify, Inc, situé 512 2nd
            Street, Suite 200 San Francisco, CA 94103, (contact téléphonique ou
            email : +18448997312).
          </p>
        </LegalChapter>
        <LegalChapter title="Directeur de publication">
          <p>Directeur de la publication du Site est Emilie BOUHA.</p>
        </LegalChapter>
        <LegalChapter title="Nous contacter">
          <ul class="list-inside list-disc">
            <li>Par téléphone : <a href="tel:0637124458">06.37.12.44.58</a></li>
            <li>
              Par email : <a href="mailto:hello@bellezzadiem.fr"
                >hello@bellezzadiem.fr</a
              >
            </li>
            <li>
              Par courrier : 14 place des colonnes Hubert Renaud 95800 Cergy
            </li>
          </ul>
        </LegalChapter>
      </div>
    </section>
  </main>
</Layout>
