---
import { Icon } from "astro-icon";
---

<footer class="flex items-center justify-center py-2 bg-gray-50 gap-5">
  <a href="/mentions-legales" class="hover:underline">Mentions légales</a>
  <a
    href="https://www.facebook.com/povotech2a"
    class="inline-block hover:text-regal-blue-700"
    ><Icon name="uil:facebook" size={30} /></a
  >
  <a
    href="https://www.instagram.com/povotech2a"
    class="inline-block hover:text-regal-blue-700"
    ><Icon name="uil:instagram" size={30} /></a
  >
</footer>
