<div class="pt-10 px-6 text-center">
  <img
    class="inline-block mt-24 md:mt-0 p-8 md:p-0 max-w-xl container"
    src="/hero_section.svg"
  />
  <h1
    class="mt-2 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
  >
    Votre prestataire informatique sur la région de<br /><span
      class="text-regal-blue-500">Porto-Vecchio</span
    >
  </h1>
  <div
    class="flex flex-col md:flex-row gap-5 md:gap-10 items-center justify-center"
  >
    <a
      class="mb-2 inline-block rounded bg-regal-blue-500 px-12 pt-4 pb-3.5 text-sm font-medium uppercase leading-normal text-white hover:bg-regal-blue-700 md:mr-2 md:mb-0 ring-regal-blue-500 hover:ring-regal-blue-700 ring-2 ring-offset-2"
      href="/contact"
      role="button">Rencontrons-nous</a
    >
    <a
      class="mb-2 inline-block rounded px-12 pt-4 pb-3.5 text-xs font-medium uppercase leading-normal hover:bg-gray-100 md:mr-2 md:mb-0"
      href="/tarifs-et-services"
      role="button">En savoir plus</a
    >
  </div>
</div>
